.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;

    @media(min-width:1440px) {
        height: 96.34px;
    }


    .navbar__img {
        object-fit: contain;
        width: 197px;
        height: 36px;
    }

    .navbar__home-link {
        position: absolute;
        left: 20px;
        font-size: 20px;
        color: black;
    }


}