.restaurant {
  padding: 54px 17px 66px 17px;
  background-color: $dark-white;

  @media(min-width:1440px) {
    padding: 30px 180px;

    .homepage__title {
      margin-bottom: 28px;
    }
  }

  // Conteneur de toutes les cartes de restaurants.
  .restaurant__cards {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 50px 100px;
    }

    //  Carte individuelle d’un restaurant.
    .restaurant__card {
      position: relative;
      width: 100%;
      height: 251px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      box-sizing: border-box;
      border-radius: 15px;
      text-decoration: none;
      outline: none;
      -webkit-tap-highlight-color: transparent;

      // Ajoute un badge "Nouveau" à la carte.
      &--new::after {
        content: "Nouveau";
        position: absolute;
        top: 15px;
        right: 15px;
        width: 80px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        color: $dark-green;
        background-color: $light-green;
      }

      .restaurant__img {
        height: 70%;
        border-radius: 15px 15px 0px 0px;
        object-fit: cover;
      }

      .restaurant__content {
        height: 30%;
        padding: 16px 25px 12px 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: $light-white;
        border-radius: 0px 0px 15px 15px;

        .restaurant__txt {
          display: flex;
          flex-direction: column;

          .restaurant__title {
            @include style-title(18px, bold, center, 0px);
            color: black;
            opacity: 90%;
          }

          .restaurant__subtitle {
            @include style-title(17px, lighter, start, 0px);
            color: #000000;
          }
        }

      }

    }
  }

}