$purple: #9356DC;
$pink:#FF79DA;
$dark-blue: #003A68;
$light-blue: #89C8FA;
$dark-grey: #353535;
$dark-green: #008766;
$light-green: #99E2D0;
$light-white: #ffffff;
$dark-white:#F6F6F6;
$grey :#EAEAEA;
$simpbol-color :#7E7E7E

