.header {
  background-color: #F6F6F6;
}
.header .header__localisation {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
}
@media (min-width: 1440px) {
  .header .header__localisation {
    box-shadow: none;
  }
}
.header .header__title_zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header__title_zone .header__breakpoint {
  display: block;
}
@media (min-width: 1440px) {
  .header .header__title_zone .header__breakpoint {
    display: inline;
  }
}
.header .header__title_zone .header__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 39px 0px 18px 0px;
}
@media (min-width: 1440px) {
  .header .header__title_zone .header__title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 30px 0px 18px 0px;
  }
}
.header .header__title_zone .header__text {
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
  color: rgb(53, 53, 53);
  margin: 0px 0px 27px 0px;
}
.header .header__title_zone .header__btn {
  position: relative;
  z-index: 0;
  width: 218px;
  font-size: 16px;
  margin: 0px 0px 57px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  background: linear-gradient(-161deg, #FF79DA, #9356DC);
  height: 50px;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
}
.header .header__title_zone .header__btn::before, .header .header__title_zone .header__btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: opacity 300ms ease;
}
.header .header__title_zone .header__btn::before {
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 1;
}
.header .header__title_zone .header__btn::after {
  z-index: 2;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25), inset 0 0 0.5px 50px rgba(255, 255, 255, 0.1);
  opacity: 0;
}
.header .header__title_zone .header__btn:hover::before {
  opacity: 0;
}
.header .header__title_zone .header__btn:hover::after {
  opacity: 1;
}
@media (min-width: 1440px) {
  .header .header__title_zone .header__btn {
    position: relative;
    z-index: 0;
    width: 218px;
    font-size: 16px;
    margin: 0px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: none;
    background: linear-gradient(-161deg, #FF79DA, #9356DC);
    height: 50px;
    color: #ffffff;
    padding: 0;
    cursor: pointer;
  }
  .header .header__title_zone .header__btn::before, .header .header__title_zone .header__btn::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    transition: opacity 300ms ease;
  }
  .header .header__title_zone .header__btn::before {
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    opacity: 1;
  }
  .header .header__title_zone .header__btn::after {
    z-index: 2;
    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25), inset 0 0 0.5px 50px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  .header .header__title_zone .header__btn:hover::before {
    opacity: 0;
  }
  .header .header__title_zone .header__btn:hover::after {
    opacity: 1;
  }
}

.footer {
  padding: 22px 25px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .footer {
    flex-direction: row;
    gap: 80px;
    align-items: flex-end;
    justify-content: flex-end;
    height: 114px;
    padding-bottom: 30px;
  }
}
.footer .footer__logo {
  font-family: Shrikhand;
  color: #ffffff;
  font-size: 18px;
  margin: 0px;
  font-weight: lighter;
  opacity: 90%;
}
@media (min-width: 1440px) {
  .footer .footer__logo {
    order: 2;
    margin-right: 55px;
  }
}
.footer .footer__ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  padding-top: 16px;
  padding-inline-start: 0px;
  gap: 7px;
}
@media (min-width: 1440px) {
  .footer .footer__ul {
    flex-direction: row;
    order: 1;
  }
  .footer .footer__ul li:nth-child(1) {
    padding-right: 7px;
  }
  .footer .footer__ul li:nth-child(2) {
    padding-right: 40px;
  }
  .footer .footer__ul li:nth-child(3) {
    padding-right: 7px;
  }
}
.footer .footer__ul .footer__li {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 11px;
  color: #ffffff;
}
.footer .footer__ul .footer__li .footer__simbole {
  font-size: 13px;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  margin: 0px;
}
.body--menu .navbar__home-link {
  display: inline-block;
}
.body--homepage .navbar__home-link {
  display: none;
}

.title {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px;
}

.homepage__title {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 26px 0px;
}

* {
  font-family: "Roboto", sans-serif;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: hideLoader 0.3s ease-out 0s forwards;
}
@media (min-width: 1440px) {
  .loader {
    height: 100%;
  }
}
.loader .loader__box {
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.page-content {
  opacity: 0;
  animation: showPage 0.3s ease-in 0s forwards;
}

.loader__element-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  background: linear-gradient(90deg, #9356DC, #FF79DA);
  border-radius: 100% 0% 50% 50%/0% 0% 100% 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  opacity: 1;
  animation: loaderAnim 600ms ease-in-out infinite alternate;
  animation-delay: 0s;
}
.loader__element-bottom:hover {
  animation-play-state: paused;
}

.loader__element-left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  background: linear-gradient(90deg, #008766, #99E2D0);
  border-radius: 0% 100% 0% 100%;
  position: absolute;
  top: 18%;
  left: 10%;
  opacity: 1;
  animation: loaderAnim 600ms ease-in-out infinite alternate;
  animation-delay: 200ms;
}
.loader__element-left:hover {
  animation-play-state: paused;
}

.loader__element-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 40%;
  background: linear-gradient(90deg, #008766, #99E2D0);
  border-radius: 100% 0% 100% 0%;
  position: absolute;
  top: 18%;
  right: 10%;
  opacity: 1;
  animation: loaderAnim 600ms ease-in-out infinite alternate;
  animation-delay: 400ms;
}
.loader__element-right:hover {
  animation-play-state: paused;
}

.icon-toggle {
  position: relative;
  width: 24px;
  height: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon-toggle .fa-heart {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.icon-toggle .fa-regular {
  z-index: 2;
}
.icon-toggle .icon-toggle__full {
  background: linear-gradient(90deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transform: scale(0);
  transition: transform 0.3s ease;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-toggle .icon-toggle__checkbox:checked ~ .fa-regular {
  opacity: 0;
}
.icon-toggle .icon-toggle__checkbox:checked ~ .icon-toggle__full {
  transform: scale(1);
  opacity: 1;
}
.icon-toggle .icon-toggle__checkbox {
  display: none;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
@media (min-width: 1440px) {
  .navbar {
    height: 96.34px;
  }
}
.navbar .navbar__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 197px;
  height: 36px;
}
.navbar .navbar__home-link {
  position: absolute;
  left: 20px;
  font-size: 20px;
  color: black;
}

.functioning {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 20px;
}
@media (min-width: 1440px) {
  .functioning {
    padding: 50px 207px 50px 180px;
  }
  .functioning .functioning__title {
    margin-bottom: 25px;
  }
}
.functioning .functioning__cards {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1440px) {
  .functioning .functioning__cards {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}
.functioning .functioning__cards .functioning__card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 27px;
  border-radius: 25px;
  background-color: #F6F6F6;
  padding: 10px 0px 10px 0px;
  margin-left: 12px;
  overflow: visible;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1440px) {
  .functioning .functioning__cards .functioning__card {
    width: 335px;
  }
}
.functioning .functioning__cards .functioning__font-container--mobile {
  width: 13.02px;
  height: 19.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 33.47px;
}
.functioning .functioning__cards .functioning__font-container--mobile .fa-solid {
  font-size: calc(19.9px * 1);
  width: 100%;
  height: 100%;
  color: #7E7E7E;
  display: block;
  line-height: 1;
}
.functioning .functioning__cards .functioning__font-container--list {
  width: 16px;
  height: 15.92px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 33.47px;
}
.functioning .functioning__cards .functioning__font-container--list .fa-solid {
  font-size: calc(15.92px * 1);
  width: 100%;
  height: 100%;
  color: #7E7E7E;
  display: block;
  line-height: 1;
}
.functioning .functioning__cards .functioning__font-container--store {
  width: 18px;
  height: 17.91px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 33.47px;
}
.functioning .functioning__cards .functioning__font-container--store .fa-solid {
  font-size: calc(17.91px * 1);
  width: 100%;
  height: 100%;
  color: #9356DC;
  display: block;
  line-height: 1;
}
.functioning .functioning__cards .functioning__number-container {
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #9356DC;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14.18px;
}
.functioning .functioning__cards .functioning__subtitle {
  text-align: start;
  font-size: 16px;
  font-weight: 500;
  margin: 18.89px 0px 18.12px 0px;
}

.restaurant {
  padding: 54px 17px 66px 17px;
  background-color: #F6F6F6;
}
@media (min-width: 1440px) {
  .restaurant {
    padding: 30px 180px;
  }
  .restaurant .homepage__title {
    margin-bottom: 28px;
  }
}
.restaurant .restaurant__container {
  position: relative;
}
.restaurant .restaurant__icon-container {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.restaurant .restaurant__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 1440px) {
  .restaurant .restaurant__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 50px 100px;
  }
}
.restaurant .restaurant__cards .restaurant__card {
  position: relative;
  color: black;
  width: 100%;
  height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: 15px;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.restaurant .restaurant__cards .restaurant__card--new::after {
  content: "Nouveau";
  position: absolute;
  top: 15px;
  right: 15px;
  width: 80px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
}
.restaurant .restaurant__cards .restaurant__card .restaurant__img {
  height: 70%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .restaurant__cards .restaurant__card .restaurant__content {
  height: 30%;
  padding: 16px 25px 12px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0px 0px 15px 15px;
}
.restaurant .restaurant__cards .restaurant__card .restaurant__content .restaurant__txt {
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant__cards .restaurant__card .restaurant__content .restaurant__txt .restaurant__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  color: black;
  opacity: 90%;
}
.restaurant .restaurant__cards .restaurant__card .restaurant__content .restaurant__txt .restaurant__subtitle {
  text-align: start;
  font-size: 17px;
  font-weight: lighter;
  margin: 0px;
  color: #000000;
}

.img__restaurent--A {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 275px;
  position: relative;
  z-index: 0;
}
@media (min-width: 1440px) {
  .img__restaurent--A {
    height: 383px;
    background-position: center -325px;
  }
}

.menu {
  margin: -60px auto 0 auto;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px 40px 0px 0px;
  background-color: #F6F6F6;
  padding: 32px 13px 0px 13px;
  gap: 40px;
}
@media (min-width: 1440px) {
  .menu {
    margin: -40px 195.5px 0 195.5px;
    padding: 0px 211.5px;
  }
}
.menu .menu__titlebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  width: 100%;
}
@media (min-width: 1440px) {
  .menu .menu__titlebox {
    justify-content: center;
    margin-top: 40px;
  }
}
.menu .menu__title {
  text-align: start;
  font-size: 28px;
  font-weight: lighter;
  margin: 0px;
  font-family: Shrikhand;
  color: #101010;
}
.menu .menu__steps {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  opacity: 0;
  animation: fadestart 0.3s ease forwards;
}
.menu .menu__steps--entree {
  animation-delay: 0.1s;
}
.menu .menu__steps--plats {
  animation-delay: 0.4s;
}
.menu .menu__steps--dessert {
  animation-delay: 0.7s;
}
.menu .menu__subtitle {
  text-align: start;
  font-size: 16px;
  font-weight: lighter;
  margin: 0px 0px;
  display: inline;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #99E2D0 100%, transparent 0%);
  background-size: 40px 4px;
  background-repeat: no-repeat;
  background-position: left bottom;
  padding: 0px 0px 8px 0px;
  width: 100%;
}
.menu .menu__btn {
  position: relative;
  z-index: 0;
  width: 186px;
  font-size: 16px;
  margin: 0px 0px 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  background: linear-gradient(-161deg, #FF79DA, #9356DC);
  height: 50px;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
}
.menu .menu__btn::before, .menu .menu__btn::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: opacity 300ms ease;
}
.menu .menu__btn::before {
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 1;
}
.menu .menu__btn::after {
  z-index: 2;
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.25), inset 0 0 0.5px 50px rgba(255, 255, 255, 0.1);
  opacity: 0;
}
.menu .menu__btn:hover::before {
  opacity: 0;
}
.menu .menu__btn:hover::after {
  opacity: 1;
}

.menu__clikablebox {
  position: relative;
  display: flex;
  width: 100%;
  height: 69px;
  border-radius: 15.04px;
  overflow: hidden;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
}

.menu__checkbox {
  display: none;
}

.menu__clikablebox--transformable {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border-radius: 15.04px;
  transform-origin: left;
  transition: transform 0.4s ease-out;
}
.menu__clikablebox--transformable .menu__textarea {
  display: flex;
  flex-direction: column;
  margin-top: 13.5px;
  gap: 5px;
  min-width: 0;
  max-width: 85%;
  overflow: hidden;
}
.menu__clikablebox--transformable .menu__cardtitle {
  text-align: start;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__clikablebox--transformable .menu__cardsubtitle {
  text-align: start;
  font-size: 15.04px;
  font-weight: lighter;
  margin: 0px 0px;
  opacity: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__price {
  display: flex;
  align-items: flex-end;
  margin: 0px 13.5px 13.5px 0px;
  font-size: 15.4px;
  font-weight: bold;
}

.menu__clikablebox--behind {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #99E2D0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.iconcheck {
  position: absolute;
  left: 100%;
  transform: translateX(0%);
  transition: transform 0.4s ease, left 0.4s ease;
  font-size: 20px;
}

.menu__checkbox:checked ~ .menu__clikablebox--transformable {
  transform: scaleX(0.9);
}

.menu__checkbox:checked ~ .menu__clikablebox--behind {
  opacity: 1;
}

.menu__checkbox:checked ~ .menu__clikablebox--behind .iconcheck {
  left: 95%;
  transform: translateX(-50%);
}

@keyframes fadestart {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loaderAnim {
  0% {
    transform: translateZ(0) translateY(4px) scale(0.8);
  }
  25% {
    transform: translateZ(0.5px) translateY(2px) scale(0.9);
  }
  50% {
    transform: translateZ(1px) translateY(0px) scale(1.2);
  }
  75% {
    transform: translateZ(0.5px) translateY(2px) scale(1.1);
  }
  100% {
    transform: translateZ(0) translateY(4px) scale(1);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
@keyframes showPage {
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */