.functioning{
    display: flex;
    flex-direction: column;
    padding: 48px 20px 68px 20px;
    gap: 25px;
      .functioning__card {
        position: relative;
        display: flex;
        align-items: center;
        gap: 27px;
        border-radius: 25px;
        background-color: $dark-white;
        padding: 10px 0px 10px 20px;
        overflow: visible; 
        @include shadow($blur:15px,$color:rgba(0,0,0,0.15))
      }
      .fa-solid {
        margin-left: 23px;
      
        &.fa-solid--colore {
          color: $purple;
        }
      }
     
      
      .functioning__number-container {
        position: absolute;
        left: -12px; // Ajuste pour combien tu veux qu'il sorte
        height: 24px;
        width: 24px;
        // border: solid 1px #D9D9D9;
        border-radius: 50%;
        background: $purple;
        color: $light-white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 14.18px;
      }
    
}