@mixin style-title($size: 24px, $weight: bold, $align: start, $margin: 0px) {
    text-align: $align;
    font-size: $size;
    font-weight: $weight;
    margin: $margin;
  }

@mixin btn($width:218px,$font-size:16px,$margin:0px 0px 57px 0px){
    width: $width;
    font-size: $font-size;
    margin: $margin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: none;
    background: linear-gradient(-161deg, $pink, $purple);
    height: 50px;
    color: $light-white;
    padding: 0px;
    transition: box-shadow 300ms ;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) 
    , inset 0px 0px 0px 50px rgba(255, 255, 255, 0.0); 
    &:hover {
        box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25) 
        , inset 0px 0px 0.5px 50px rgba(255, 255, 255, 0.10); 
      }
    
}

@mixin icon-toggle-transition {
    transition: color 600ms, background-color 600ms ease-out;
  }
  
  
  @mixin icon-toggle-gradient {
    background: linear-gradient(90deg, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  @mixin icon-toggle-checked($content:"\f004", $color:transparent, $font-family:"Font Awesome 6 Free", $font-weight:900) {
    content: $content; 
    color: $color;  
    font-family: $font-family;
    font-weight: $font-weight;
    @include icon-toggle-gradient;
  }

  @mixin font-container($width: 40px, $height: 40px, $color: $simpbol-color) {
    width: $width;
    height: $height;
    margin-left: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .fa-solid {
      font-size: calc(#{$height} * 1); 
      width: 100%;
      height: 100%;
      color: $color;
      display: block;
      line-height: 1;
    }
  }

  @mixin img__restaurent($img: "") {
    background-image: url(#{$img});
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 200px;
    position: relative;
    z-index: 0;
    // overflow: hidden;
    // bottom: 10%
    @media(min-width:1440px){
      height: 383px;
      background-position: center -348px;
    };
  }