.header {
  background-color: #F6F6F6;
}
.header .header__localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 17px;
  height: 50px;
  background-color: #EAEAEA;
}
.header .header__title_zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .header__title_zone .header__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 39px 0px 18px 0px;
  text-align: center;
  padding: 0px 20px;
}
.header .header__title_zone .header__paragraph {
  font-size: 18px;
  text-align: center;
  padding: 0px 20px;
  margin: 0px 0px 27px 0px;
}
.header .header__title_zone .header__btn {
  width: 218px;
  font-size: 16px;
  margin-bottom: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: none;
  background: linear-gradient(-161deg, #9356DC, #FF79DA);
  height: 50px;
  color: #ffffff;
  padding: 0px;
  transition: box-shadow 200ms;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.header .header__title_zone .header__btn:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}

footer {
  background-color: #353535;
}
footer .footer__ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px;
  padding-bottom: 22px;
  padding-inline-start: 25px;
  gap: 7px;
}
footer .footer__ul .footer__logo {
  font-family: Shrikhand;
  color: #ffffff;
  font-size: 18px;
  margin: 22px 0px 9px 0px;
}
footer .footer__ul .footer__li {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 11px;
  color: #ffffff;
}
footer .footer__ul .footer__li .footer__simbole {
  font-size: 13px;
  width: 13px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0px;
}

.title {
  text-align: start;
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

* {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
}
.navbar .navbar__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 197px;
  height: 36px;
}

.functioning {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 20px;
  gap: 25px;
}
.functioning .functioning__card {
  position: relative;
  display: flex;
  align-items: center;
  gap: 27px;
  border-radius: 25px;
  background-color: #F6F6F6;
  padding: 10px 0px 10px 20px;
  overflow: visible;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.functioning .fa-solid {
  margin-left: 23px;
}
.functioning .fa-solid.fa-solid--colore {
  color: #9356DC;
}
.functioning .functioning__number-container {
  position: absolute;
  left: -12px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #9356DC;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14.18px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  padding: 54px 17px 66px 17px;
  gap: 18px;
  background-color: #F6F6F6;
}
.restaurant .restaurant__card {
  width: 100%;
  height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  border-radius: 15px;
  text-decoration: none;
}
.restaurant .restaurant__card .restaurant__img {
  height: 70%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .restaurant__card .restaurant__content {
  height: 30%;
  padding: 16px 25px 12px 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0px 0px 15px 15px;
}
.restaurant .restaurant__card .restaurant__content .restaurant__heart {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.restaurant .restaurant__card .restaurant__content .restaurant__heart .restaurant__heart-checkbox {
  display: none;
}
.restaurant .restaurant__card .restaurant__content .restaurant__heart .fa-regular {
  font-size: 22px;
  color: black;
  transition: color 0.3s;
}
.restaurant .restaurant__card .restaurant__content .restaurant__heart .restaurant__heart-checkbox:checked + .fa-regular {
  color: #9356DC;
}
.restaurant .restaurant__card .restaurant__content .restaurant__heart .restaurant__heart-checkbox:checked + .fa-regular::after {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #9356DC;
  position: absolute;
  top: 0;
  left: 0;
}
.restaurant .restaurant__card .restaurant__content .restaurant__txt {
  display: flex;
  flex-direction: column;
}
.restaurant .restaurant__card .restaurant__content .restaurant__txt .restaurant__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
  color: black;
}
.restaurant .restaurant__card .restaurant__content .restaurant__txt .restaurant__subtitle {
  text-align: start;
  font-size: 17px;
  font-weight: lighter;
  margin: 0px;
  color: black;
}/*# sourceMappingURL=styles.css.map */